<?xml version="1.0" encoding="utf-8"?>
<Database>
	<Leaders>
	</Leaders>
	<LeaderItems>
	</LeaderItems>
	<LeaderTags>
	</LeaderTags>
	<LeaderQuotes>
	</LeaderQuotes>
	<LeaderCivilizationBias>
	</LeaderCivilizationBias>
	<Civilizations>
		<Row Domain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_VIKING" CivilizationName="LOC_CIVILIZATION_VIKING_NAME" CivilizationFullName="LOC_CIVILIZATION_VIKING_FULLNAME" CivilizationDescription="LOC_CIVILIZATION_VIKING_DESCRIPTION" CivilizationIcon="civ_sym_viking.png"/>
	</Civilizations>
	<CivilizationItems>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_VIKING" Type="TRAIT_VIKING_ABILITY" Kind="KIND_TRAIT" Name="LOC_TRAIT_VIKING_ABILITY_NAME" Description="LOC_TRAIT_VIKING_ABILITY_DESCRIPTION"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_VIKING" Type="UNIT_LONGBOAT" Kind="KIND_UNIT" Name="LOC_UNIT_LONGBOAT_NAME" Description="LOC_UNIT_LONGBOAT_DESCRIPTION" Icon="ICON_UNIT_LONGBOAT"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_VIKING" Type="IMPROVEMENT_NAUST" Kind="KIND_IMPROVEMENT" Name="LOC_IMPROVEMENT_NAUST_NAME" Description="LOC_IMPROVEMENT_NAUST_DESCRIPTION" Icon="impicon_naust.png"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_VIKING" Type="BUILDING_STAVE_CHURCH" Kind="KIND_BUILDING" Name="LOC_BUILDING_STAVE_CHURCH_NAME" Description="LOC_BUILDING_STAVE_CHURCH_DESCRIPTION" Icon="ICON_BUILDING_STAVE_CHURCH"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_VIKING" Type="BUILDING_LONGHOUSE" Kind="KIND_BUILDING" Name="LOC_BUILDING_LONGHOUSE_NAME" Description="LOC_BUILDING_LONGHOUSE_DESCRIPTION" Icon="ICON_BUILDING_LONGHOUSE"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_VIKING" Type="QUARTER_TRELLEBORG" Kind="KIND_QUARTER" Name="LOC_QUARTER_TRELLEBORG_NAME" Description="LOC_QUARTER_TRELLEBORG_DESCRIPTION" Icon="city_uniquequarter"/>
	</CivilizationItems>
	<CivilizationTags>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_VIKING" TagType="TAG_TRAIT_EXPANSIONIST"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_VIKING" TagType="TAG_TRAIT_CULTURAL"/>
	</CivilizationTags>
	<LeaderCivilizationBias>
		<!-- base -->
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_VIKING" LeaderDomain="StandardLeaders" LeaderType="LEADER_FRIEDRICH" Bias="3" ReasonType="LOC_UNLOCK_PLAY_AS_FRIEDRICH_VIKING_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_VIKING" LeaderDomain="StandardLeaders" LeaderType="LEADER_CHARLEMAGNE" Bias="3" ReasonType="LOC_UNLOCK_PLAY_AS_CHARLEMAGNE_VIKING_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<!-- DLC -->
	</LeaderCivilizationBias>
	<LeaderUnlocks>
		<!-- Base -->
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_FRIEDRICH" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_VIKING" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_VIKING_NAME" Description="LOC_CIVILIZATION_VIKING_DESCRIPTION" Icon="CIVILIZATION_VIKING"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_CHARLEMAGNE" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_VIKING" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_VIKING_NAME" Description="LOC_CIVILIZATION_VIKING_DESCRIPTION" Icon="CIVILIZATION_VIKING"/>
		<!-- DLC -->
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_FRIEDRICH_ALT" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_VIKING" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_VIKING_NAME" Description="LOC_CIVILIZATION_VIKING_DESCRIPTION" Icon="CIVILIZATION_VIKING"/>
	</LeaderUnlocks>
	<CivilizationUnlocks>
		<!-- AntiquityAgeCivilizations -->
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_GERMANIA" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_VIKING" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_VIKING_NAME" Description="LOC_CIVILIZATION_VIKING_DESCRIPTION" Icon="CIVILIZATION_VIKING"/>
		<!-- ExplorationAgeCivilizations -->
		<!-- ModernAgeCivilizations -->
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_VIKING" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_RUSSIA" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_RUSSIA_NAME" Description="LOC_CIVILIZATION_RUSSIA_DESCRIPTION" Icon="CIVILIZATION_RUSSIA"/>
	</CivilizationUnlocks>
	<LeaderUnlocks>
	</LeaderUnlocks>
	<Mementos>
	</Mementos>
</Database>